@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight";
    src: url("/fonts/inter-tight-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: "Inter Tight", "Helvetica Neue", sans-serif;
    background: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1; /* push footer to bottom */
}

.light {
    background: white;
    color: black;
}

