html {
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: -0.4px;
    line-height: 1.2rem;

    background: black;
    color: white;
}

main {
    max-width: 1300px;
    margin: 0 auto;
    /* padding: 1rem 0; */
}

.light {
    background: white;
    color: black;
}
