@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight";
    src: url("/fonts/inter-tight-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Inter Tight", "Helvetica Neue", sans-serif;
    background: black;
    color: white;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 8rem;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.25rem 1.5rem;
}

.light {
    background: white;
    color: black;
}
