@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Tight";
    src: url("/fonts/inter-tight-latin-400-normal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Inter Tight", "Helvetica Neue", sans-serif;
    /* letter-spacing: -0.4px; */
    /* line-height: 1.2rem; */

    background: black;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 6;
    grid-auto-rows: 96px;
    gap: 16px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 16px 32px;
}

.light {
    background: white;
    color: black;
}
