---
import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div id="background-image"></div>
    <main>
      <Nav active="about" />
      <h1>About</h1>
      <p>
        <span
          >Building humane software to serve others as Christ serves us.</span
        >
        <br /><br />
        I'm Josh(ua), a software engineer, designer and entrepreneur based in Tampa,
        FL, USA. I've been blessed to have worked in the tech industry for nearly
        a decade, where I've discovered and refined my niche as a hyper-minimalist
        engineer and performance fanatic. I'm obsessed with simplicity and the smallest
        of details, and through God's strength I hope to create a better now for
        all of us.
        <br /><br />
        By day, I work full-time as a Senior Software Engineer at MyCarrier where
        my team and I build payment systems for some of the world’s largest transportation
        companies. In my spare time, you'll find me spending time with my incredible
        family, reading non-fiction or wondering off into something entirely new.
        <br /><br />
        Currently working on an unannounced project.
      </p>
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  #background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    z-index: -999;

    background-image: url("about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 4.75rem;
    font-weight: 400;
    line-height: 4.625rem;
  }

  p {
    width: 45%;
    max-width: 700px;
    font-size: 1.25rem;
    padding-bottom: 16rem;

    span {
      background: white;
      color: black;
    }
  }

  @media screen and (width < 1024px) {
    #background-image {
      display: none;
    }

    p {
      width: 100%;
    }
  }
</style>
