---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import RSSLink from "../components/RSSLink.astro";
import Table from "../components/Table.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import type { TableRow } from "../types";
import HeroImage from "../../public/home-hero.jpg";
import ArrowDown from "../../public/icons/pixelarticons-arrow-down.svg";

const articles = (await getCollection("articles")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const journalRows: TableRow[] = articles.map((a) => ({
    title: a.data.title,
    summary: a.data.description,
    date: a.data.pubDate,
    href: `/journal/${a.id}`,
}));
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Nav />
        <main>
        </main>
    </body><!-- -->
    <style lang="scss">
    </style>

    <script>
        import { getTheme } from "../lib/theme";

        const theme = getTheme();
        if (theme == "light") {
            document.documentElement.classList.add("light");
        }
    </script>
</html>

<style lang="scss">
    body {
        display: grid;
        grid-template-columns: 6;
        grid-auto-rows: 64px;
        gap: 16px;
        padding: 16px 32px;
    }
</style>
