---
// import BlueskyIcon from "../../public/icons/ri_bluesky.svg";
// import GitHubIcon from "../../public/icons/mdi_github.svg";
// import TwitterIcon from "../../public/icons/mdi_twitter.svg";

interface Props {
    active: "journal" | "projects" | "about";
}

const { active } = Astro.props;
---

<header>
    <nav>
        <ul>
            <li id="site-title">
                <a href="/">Josh Nies</a>
            </li>
            <li><a href="/" class={active === "journal" ? "active": ""}>Journal,</a></li>
            <li><a href="/projects" class={active === "projects" ? "active": ""}>Projects,</a></li>
            <li><a href="/about" class={active === "about" ? "active": ""}>About,</a></li>
            <li>
                <a
                    href="https://bsky.app/profile/joshnies.bsky.social"
                    target="_blank"
                    referrerpolicy="no-referrer"
                    rel="me"
                    aria-label="Bluesky"
                >
                    Bluesky,
                </a>
            </li>
            <!-- <li> -->
            <!--     <a -->
            <!--         href="https://x.com/_joshnies" -->
            <!--         target="_blank" -->
            <!--         referrerpolicy="no-referrer" -->
            <!--         rel="me" -->
            <!--         aria-label="Twitter" -->
            <!--     > -->
            <!--         Twitter, -->
            <!--     </a> -->
            <!-- </li> -->
            <li>
                <a
                    href="https://github.com/joshnies"
                    target="_blank"
                    referrerpolicy="no-referrer"
                    aria-label="GitHub"
                >
                    GitHub
                </a>
            </li>
        </ul>
    </nav>
</header>

<style lang="scss">
    header {
        grid-column: span 5;
        font-size: 1.25rem;
    }

    ul {
        display: flex;
        gap: 4px;
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        color: white;
        opacity: 0.6;
        text-decoration: none;
        transition: 150ms ease-out;

        &:hover {
            opacity: 0.8;
        }

        &.active {
            opacity: 1;
        }
    }

    #site-title {
        flex-grow: 1;
        
        a {
            opacity: 1;
        }
    }
</style>
