---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { formatDate } from "../lib/util";
import Signature from "../../public/signature.svg";

type Props = CollectionEntry<"articles">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main>
            <section id="frontmatter">
                <time>{formatDate(pubDate)}</time>
                <h1>{title}</h1>
            </section>
            <article>
                <slot />
                <Signature id="signature" aria-label="Signature" />
            </article>
        </main>
        <Footer />
    </body><style lang="scss">
        main {
            padding: 1rem;
        }

        #frontmatter {
            max-width: 900px;
            margin: 0 auto;
            padding-top: 3rem;

            time {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-size: 0.8125rem;
                opacity: 0.8;

                svg {
                    width: 1rem;
                    height: 1rem;
                    transform: rotate(90deg);
                }
            }

            h1 {
                font-size: 2.25rem;
                font-weight: normal;
                letter-spacing: -1.5px;
                line-height: 2.5rem;
                margin-top: 0.5rem;
            }
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 650px;
            font-size: 1rem;
            margin: 0 auto;
            padding-top: 2rem;
        }

        #signature {
            margin-top: 4rem;
        }

        @media screen and (width >= 900px) {
            #frontmatter {
                padding-top: 8rem;

                h1 {
                    font-size: 4rem;
                    letter-spacing: -3px;
                    line-height: 4.5rem;
                }
            }

            article {
                padding-top: 6rem;
            }
        }
    </style>
</html>
