---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"designs">["data"];

const { title, description, year, cover, items } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <Header />
        <main></main>
        <Footer />
    </body><!-- -->
    <style lang="scss"></style>
</html>
